# Ignorar node_modules en todo el proyecto
node_modules/

# Ignorar resultados y videos generados por Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Ignorar la carpeta versions y sus subdirectorios en Ghost
versions/

# Ignorar archivos de configuración temporal y logs
*.log
*.lock
*.env

# Ignorar otros archivos generados por el sistema
.DS_Store
